# Servidor Colyseus
NODE_ENV=
PORT=

# Segurança e acesso HTTP
CLIENT_ORIGIN=
MONITOR_USERNAME=
MONITOR_PASSWORD=

# Firebase Admin
FIREBASE_PROJECT_ID=
FIREBASE_DATABASE_URL=
GOOGLE_APPLICATION_CREDENTIALS=

# Infraestrutura futura
DATABASE_URL=
REDIS_URI=